$black: #000000;
$white: #FFFFFF;
$grey: #D7D7D7;
$yellow: #FFFF00;
$blue: #60B1F7;

table {
  border: 1px solid $grey;
  border-collapse: collapse;
  width: calc(100% - 60px);
  margin: 30px;
}

tr:nth-child(odd) {
  background: $grey;
}

th, td {
  border: 1px solid $grey;
  padding: 5px;
  text-align: center;
  min-width: 60px;
  font-size: 13px;
  font-weight: 500;
}

.bulletin {
  &-event-name {
    text-align: left;
    position: relative;
    min-width: 250px;
  }

  &-event-odd {
    cursor: pointer;
  }

  &-event-mbs {
    width: 20px;
    height: 20px;
    background-color: $blue;
    color: $white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.bold {
  font-weight: 600;
}

.active-odd {
  background: $yellow;
}

.bet-slip {
  position: fixed;
  bottom: 0;
  right: 0;
  background: $white;
  border: 1px solid $grey;
  width: 400px;
  padding: 10px;

  &-item {
    border-bottom: 1px solid $grey;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
  }
}
